

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Offers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/styles.css">
    <link rel="stylesheet" href="/CSS/navbar.css">
</head>

<%- include('partials/navbar'); -%>

<body>

    <div class="container">
        <h3
            style=" font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;margin-top: 2%;">
            Offers </h3>
        <% for(let i=0;i<offerList.length;i++){ %>
        <div class="offer-list container-md">
            <img src="/images/Phone.jpg" alt="product image" width="10%" >
            <div class="product-text" style="position: relative;left: 5%; display: inline-block;">
                Name of the product:- <%=offerList[i].productName%> <br>
                amount:- <%=offerList[i].amount%>
            </div>
            <div class="accept-button">
                <a href="/sellerBargain/ABC-XYZ/<%= user %>"><input type="button" class="btn btn-success"
                        value="Accept Offer"></a>
            </div>
    
        </div>
        <%}%>
        <div class="offer-list container-md">
            <img src="/images/Phone.jpg" alt="product image" width="10%" >
            <div class="product-text" style="position: relative;left: 5%; display: inline-block;">
                Name of the product:- ABC XYZ <br>
                info:- edfgtrdcvb
            </div>
            <div class="accept-button">
                <a href="/sellerBargain/ABC-XYZ/<%= user %>"><input type="button" class="btn btn-success"
                        value="Accept Offer"></a>
            </div>
    
        </div>
        <div class="offer-list container-md">
            <img src="/images/Phone.jpg" alt="product image" width="10%" >
            <div class="product-text" style="position: relative;left: 5%; display: inline-block;">
                Name of the product:- ABC XYZ <br>
                info:- edfgtrdcvb
            </div>
            <div class="accept-button">
                <a href="/sellerBargain/ABC-XYZ/<%= user %>"><input type="button" class="btn btn-success"
                        value="Accept Offer"></a>
            </div>
    
        </div>
        <div class="offer-list container-md">
            <img src="/images/Phone.jpg" alt="product image" width="10%" >
            <div class="product-text" style="position: relative;left: 5%; display: inline-block;">
                Name of the product:- ABC XYZ <br>
                info:- edfgtrdcvb
            </div>
            <div class="accept-button">
                <a href="/sellerBargain/ABC-XYZ/<%= user %>"><input type="button" class="btn btn-success"
                        value="Accept Offer"></a>
            </div>
    
        </div>
        <div class="offer-list container-md">
            <img src="/images/Phone.jpg" alt="product image" width="10%" >
            <div class="product-text" style="position: relative;left: 5%; display: inline-block;">
                Name of the product:- ABC XYZ <br>
                info:- edfgtrdcvb
            </div>
            <div class="accept-button">
                <a href="/sellerBargain/ABC-XYZ/<%= user %>"><input type="button" class="btn btn-success"
                        value="Accept Offer"></a>
            </div>
    
        </div>
        <div class="offer-list container-md">
            <img src="/images/Phone.jpg" alt="product image" width="10%" >
            <div class="product-text" style="position: relative;left: 5%; display: inline-block;">
                Name of the product:- ABC XYZ <br>
                info:- edfgtrdcvb
            </div>
            <div class="accept-button">
                <a href="/sellerBargain/ABC-XYZ/<%= user %>"><input type="button" class="btn btn-success"
                        value="Accept Offer"></a>
            </div>
    
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

<%- include('partials/footer'); -%>

</html>