

<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Offers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/styles.css">
    <link rel="stylesheet" href="/CSS/navbar.css">
</head>

<%- include('partials/navbar'); -%>

<body>

    <div class="container" style="height: 100%;">
        <h3
            style=" font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;margin-top: 2%;">
            Offers </h3>
        <% for(let i=0;i<offerList.length;i++){ %>
            <a href=""></a>
        <div class="offer-list container-md">
            <img src="/images/Phone.jpg" alt="product image" width="10%" >
            <div class="product-text" style="position: relative;left: 5%; display: inline-block;">
                <p style="font-size: 27px;"><%=offerList[i].productName%></p> <hr>
                <p style="font-size: 20px; font-weight:bold; color:grey"> ₹ <%=offerList[i].amount%></p>
                Status:-<%=statusMsg[offerList[i].offerStatus+1]%>
            </div>
            <!-- <div class="accept-button">
                <a href="/checkout"><input type="button" class="btn btn-success"
                        value="Accept Offer"></a>
            </div> -->
    
        </div>
        <%}%>
        <!-- <div class="offer-list container-md">
            <img src="/images/Phone.jpg" alt="product image" width="10%" >
            <div class="product-text" style="position: relative;left: 5%; display: inline-block;">
                <p style="font-size: 27px;">Samsung Galaxy S23 Ultra </p><hr>
                <p style="font-size: 20px; font-weight:bold; color:grey">₹  40000 </p>
       
                
                
            </div>
            
            <div class="accept-button">
                <a href="/sellerBargain/ABC-XYZ/<%= user %>"><input type="button" class="btn btn-success"
                        value="Accept Offer" style="position: absolute; right:125; background-color:rgb(111, 20, 197);"></a>
            </div>
    
        </div>
        <div class="offer-list container-md">
            <img src="/images/Phone.jpg" alt="product image" width="10%" >
            <div class="product-text" style="position: relative;left: 5%; display: inline-block;">
                <p style="font-size: 27px;">Samsung Galaxy S23 Ultra </p><hr>
                <p style="font-size: 20px; font-weight:bold; color:grey">₹  40000 </p>
            </div>
            <div class="accept-button">
                <a href="/sellerBargain/ABC-XYZ/<%= user %>"><input type="button" class="btn btn-success"
                        value="Accept Offer" style="position: absolute; right:125; background-color:rgb(111, 20, 197);"></a>
            </div>
    
        </div>
        <div class="offer-list container-md">
            <img src="/images/Phone.jpg" alt="product image" width="10%" >
            <div class="product-text" style="position: relative;left: 5%; display: inline-block;">
                <p style="font-size: 27px;">Samsung Galaxy S23 Ultra </p><hr>
                <p style="font-size: 20px; font-weight:bold; color:grey">₹  40000 </p>
            </div>
            <div class="accept-button">
                <a href="/sellerBargain/ABC-XYZ/<%= user %>"><input type="button" class="btn btn-success"
                        value="Accept Offer" style="position: absolute; right:125; background-color:rgb(111, 20, 197);"></a>
            </div>
    
        </div>
        <div class="offer-list container-md">
            <img src="/images/Phone.jpg" alt="product image" width="10%" >
            <div class="product-text" style="position: relative;left: 5%; display: inline-block;">
                <p style="font-size: 27px;">Samsung Galaxy S23 Ultra </p><hr>
                <p style="font-size: 20px; font-weight:bold; color:grey">₹  40000 </p>
            </div>
            <div class="accept-button">
                <a href="/sellerBargain/ABC-XYZ/<%= user %>"><input type="button" class="btn btn-success"
                        value="Accept Offer" style="position: absolute; right:125;background-color:rgb(111, 20, 197);"></a>
            </div>
    
        </div>
        <div class="offer-list container-md">
            <img src="/images/Phone.jpg" alt="product image" width="10%" >
            <div class="product-text" style="position: relative;left: 5%; display: inline-block;">
                <p style="font-size: 27px;">Samsung Galaxy S23 Ultra </p><hr>
                <p style="font-size: 20px; font-weight:bold; color:grey">₹  40000 </p>
            </div>
            <div class="accept-button">
                <a href="/sellerBargain/ABC-XYZ/<%= user %>"><input type="button" class="btn btn-success"
                        value="Accept Offer" style="position: absolute; right:125; background-color:rgb(111, 20, 197);"></a>
            </div>
    
        </div> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

<%- include('partials/footer'); -%>

</html>