<%- include('partials/navbar'); -%>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Addresses</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/CSS/styles.css">
    <link rel="stylesheet" href="/CSS/navbar.css">
    <script>
        function addDivision() {
            var home = document.getElementById("flexRadioDefault1");
            var office = document.getElementById("flexRadioDefault2");
            var addline1 = document.getElementById("addlineone").value;
            var addline2 = document.getElementById("addlinetwo").value;
            var city= document.getElementById("city").value;
            var landmark = document.getElementById("landmark").value;

            if (home.checked) {
                var selectedradio = "Home";
            }
            else {
                var selectedradio = "Office";
            }

            var div = document.createElement("div");
            div.style.color= "rgb(79, 79, 79)";
            div.style.border = "1px solid rgb(205, 205, 205)";
            div.style.backgroundColor="rgb(239, 238, 238)";
            div.style.marginTop="1rem";
            div.style.display="block";
            div.style.height=" 200px";
            div.style.padding="1rem";
            div.style.borderRadius="10px";
            

            div.innerHTML= "<h3>" + selectedradio + "</h3>";
            div.innerHTML+="<hr>";
            div.innerHTML+=addline1;
            div.innerHTML+="<br>";
            div.innerHTML+=addline2;

            document.getElementById("newaddresses").appendChild(div);

            

        }
    </script>
</head>

<body>

<div class="container">
    <div class="Add-List">
        <h2 style="padding-top: 25px;color: rgb(77, 77, 77); padding-bottom: 10px;">Your Addresses</h2><hr>
        <%let i=1 %>
        <% Rows.adress.forEach(row =>{ %>
            
            <div class="">
                <div class="addresses-list">
                    <p style="font-size: 24px;">Address <%= i %></p>
                    <% i=i+1 %>
                    <hr>
                    <% r = row.split("\n") %>
                    <%= r[0] %>
                    <br>
                    <%= r[1] %>
                    <br>
                    <%= r[2] %>
                    <br>
                    <%= r[3] %>
                </div>
            </div>
            
        <% })%>
        
    </div>
    <br>
    <hr>
    <br>
    <br>

    <div class="containbox">
        <h3 style="padding-top: 20px; color: rgb(83, 83, 83);"><i style="padding-right: 15px;" class="fa fa-address-book-o"></i>Add a new address</h3><hr>
    <form method="post">
    <div class="address">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
              Home
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              Office
            </label>
          </div><br>
            
        <p style="font-size: 20px;">Flat, House no., Building, Apartment</p>
        <input class="addflat" id="addlineone" type="text" name="addlineone">
        <p style="font-size: 10px; color: grey;">Address line 1</p>
        <p style="font-size: 20px;">Area, Street, Sector, Village</p>
        <input class="addstreet" id="addlinetwo" type="text" name="addlinetwo">
        <p style="font-size: 10px; color: grey;">Address line 2</p>
        <p style="font-size: 20px;">Landmark</p>
        <input class="addlandmark" id="landmark" type="text"  name="landmark"><br><br>
        <p style="font-size: 20px;">Town/City</p>
        <input type="text" id="city" class="addcity"  name="city">
        <button class="add-btn" style=" position: absolute; right: 140px;" onclick="addDivision(); ">+</button><br><br>
    </div>
    </form>
</div>
</div>

</body>


</html>

<%- include('partials/footer'); -%>