<%- include('partials/navbar'); -%>
  <html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/CSS/Sell.css">
    <link rel="stylesheet" href="/CSS/navbar.css">
  </head>

  <body style="background-color: rgba(220,206,254,255);">
    <div class="maincont" style="height:600px;">
    <div>

    </div>

    <div class="row">

      <div class="colm-form">
        <div class="form-container">

          <div>
            <p style="font-size: 30px;"> Choose your category</p>
            <hr>
          </div>
          <div class="colone">
            <div class="dropdown show">


              <a class="btn btn-secondary dropdown-toggle" href="/productdetails/<%= user %>" role="button"
                id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Electronics
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/productdetails/<%= user %>">TVs, Video - Audio</a>
                <a class="dropdown-item" href="/productdetails/<%= user %>">Kitchen & Other Appliances</a>
                <a class="dropdown-item" href="/productdetails/<%= user %>">Computers & Laptops</a>
                <a class="dropdown-item" href="/productdetails/<%= user %>">Cameras & Lenses</a>
                <a class="dropdown-item" href="/productdetails/<%= user %>">Games & Entertainment</a>
                <a class="dropdown-item" href="/productdetails/<%= user %>">Fridges</a>
                <a class="dropdown-item" href="/productdetails/<%= user %>">Computer Accessories</a>
                <a class="dropdown-item" href="/productdetails/<%= user %>">Hard Disks, Printers & Monitors</a>
                <a class="dropdown-item" href="/productdetails/<%= user %>">ACs</a>
                <a class="dropdown-item" href="/productdetails/<%= user %>">Washing Machines</a>
              </div>
            </div>
            <div class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="/productdetails/<%= user %>" role="button"
                id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mobiles
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/productdetails/<%= user %>">Mobile Phones</a>
                <a class="dropdown-item" href="/productdetails/<%= user %>">Accessories</a>
                <a class="dropdown-item" href="/productdetails">Tablets</a>
              </div>
            </div>
            <div class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="/productdetails/<%= user %>" role="button"
                id="dropdownMenuLink3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Furniture
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/productdetails/<%= user %>">Sofa & Dining</a>
                <a class="dropdown-item" href="/productdetails/<%= user %>">Beds & Wardrobes</a>
                <a class="dropdown-item" href="/productdetails/<%= user %>">Home Decor & Garden</a>
                <a class="dropdown-item" href="/productdetails/<%= user %>">Kids Furniture</a>
                <a class="dropdown-item" href="/productdetails/<%= user %>">Other Household Items</a>
              </div>
            </div>
          </div>


          <div class="coltwo">
            <div class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="/productdetails/<%= user %>" role="button"
                id="dropdownMenuLink4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fashion
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/productdetails/<%= user %>">Men </a>
                <a class="dropdown-item" href="/productdetails/<%= user %>">Women</a>
                <a class="dropdown-item" href="/productdetails/<%= user %>">Kids</a>
              </div>
            </div>
            <div class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="/productdetails/<%= user %>" role="button"
                id="dropdownMenuLink5" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Automobiles
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink/<%= user %>">
                <a class="dropdown-item" href="/productdetails/<%= user %>">Commercial Vehicles</a>
                <a class="dropdown-item" href="/productdetails/<%= user %>">Cars</a>
                <a class="dropdown-item" href="/productdetails/<%= user %>">Bikes</a>
              </div>
            </div>
            <div class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="/productdetails/<%= user %>" role="button"
                id="dropdownMenuLink6" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hardware tools
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/productdetails/<%= user %>">Electrical</a>
                <a class="dropdown-item" href="/productdetails/<%= user %>">Non-Electrical</a>
              </div>
            </div>


          </div>

        </div>

      </div>
    </div>
  </div>
    <script src="javas.js"></script>

  </body>
  </html>
  <%- include('partials/footer') ; -%>