<%- include('partials/navbar'); -%>
    <html lang="en">

    <head>
        <title>Product title</title>
        <link rel="icon" type="image/x-icon" href="/images/logo.png">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/CSS/userprofile.css">
        <link rel="stylesheet" href="/CSS/navbar.css">
    </head>
 
    <body style="background-color: rgb(234, 234, 234)">

        <div class="container" style="background-color: rgb(251, 251, 251); border-radius:10px; margin-bottom:30px; padding:15px; height:800px;">

            <div class="row">

                <div class="col-3" id="usercard">
                    <div class="image">
                        <img src="/images/userprofile.png" alt="up" style="width: 150px; height: 150px;">
                    </div>
                    <div class="username">
                        <h3><%= user %></h3>
                    </div>
                    <br>

                    <div class="functionality">
                        <div class="table">
                            <a href="#">
                                <td>My Orders</td>
                            </a>
                            <hr style="height:2px;">
                            <a href="/MyOffers/<%= user %>">
                                <td>My Offers</td>
                            </a>
                            <hr style="height:2px;">
                            <a href="/SavedAddress/<%= user %>">
                                <td>Saved Addresses</td>
                            </a>
                            <hr style="height:2px;">
                            <a href="/help/<%= user %>">
                                <td>Help Center</td>
                            </a>
                            <hr style="height:2px;">
                            <form action="/logout" method="post">
                                <input type="submit" class="btn btn-primary" style="background-color: rgb(111, 20, 197);border:none;" value="Log Out">
                            </form>
                            <!-- <a href="/sign-in"><button type="button" class="btn btn-primary">Log Out</button></a> -->
                            
                        </div>
                    </div>

                </div>
                
                <div class="col" id="details">
                    <div class="username1">
                        <h3>Hi, Welcome back <%= user %></h3>
                    </div>
                    <hr>
                    <!-- <img src="/images/PHOENIX.png" alt="ri" style="opacity: 30%; height: 55vh;">
                    <h4>You have not listed any products yet...</h4> -->
                    
                    <div class="myproducts" style="background-color: white;">
                        <h4 style="text-align: left; color:rgb(89, 89, 89);">Your Advertisements</h4><hr>
                        <div class="adsv-block">
                            <div style="text-align: left;">
                                <img src="/images/fsd-product/<%= arrImage[0]%>" width="50px">
                                <label style="font-size: 18px; border-left:1px solid black;padding-left:20px;"> <%= arr[0] %></label>
                            </div>
                        </div>
                        <div class="adsv-block">
                            <div style="text-align: left;">
                                <img src="/images/fsd-product/<%= arrImage[1]%>" width="50px">
                                <label style="font-size: 18px; border-left:1px solid black;padding-left:20px;"><%= arr[1] %></label>
                            </div>
                        </div>
                        <div class="adsv-block">
                            <div style="text-align: left;">
                                <img src="/images/fsd-product/<%= arrImage[2]%>" width="50px">
                                <label style="font-size: 18px; border-left:1px solid black;padding-left:20px;"><%= arr[2] %></label>
                            </div>
                        </div>
                        <div class="adsv-block">
                            <div style="text-align: left;">
                                <img src="/images/fsd-product/<%= arrImage[3]%>" width="50px">
                                <label style="font-size: 18px; border-left:1px solid black;padding-left:20px;"><%= arr[3] %></label>
                            </div>
                        </div>

                        <div >
                            <a href="/Myads/<%= user %>"><button class="btn btn-primary" style="background-color: rgb(111, 20, 197);border:none; margin-top:40px; margin-left:25%;">View More</button></a>
                            
                        </div>
                        
                    <!-- </div>
                    <a href="/sell/<%= user%>"><button type="button" class="btn btn-info" style="margin-left:25%; color: white; margin-top: 5%; background-color: rgb(111, 20, 197);border:none;">Start Selling</button></a>
                </div> -->
                    </div>

                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>

    </body>
    <%- include('partials/footer'); -%>
 
    

    </html>
    